@charset "utf-8";

/* Components */
.join-btn, .newsletter button {
    display: inline-block;
    padding: 10px 20px;
    background: var(--secondary-color);
    color: black;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
    transition: background-color 0.3s ease; /* Add transition for hover effect */
}

.join-btn:hover, .newsletter button:hover {
    background-color: #e6b800; /* Slightly darker yellow */
    cursor: pointer;
}


.updates {
    padding: 20px;
}

.updates article {
    margin-bottom: 20px;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 10px;
}

.updates article:last-child {
    border-bottom: none;
}

.newsletter {
    text-align: center;
    padding: 20px;
}

.newsletter form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.newsletter input {
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    width: 300px;
    max-width: 100%;
}