@charset "utf-8";

/* Typography and Spacing */
p, h1, h2, h3, h4, h5, h6, li, .updates article {
    line-height: 1.6;
}

p {
    margin-bottom: 1rem;
}

h1, h2, h3 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

li {
    margin-bottom: 0.5rem;
}

.centered-heading {
    display: block;
    margin: 0 auto;
    width: fit-content;
    text-align: center;
}