/* --------------------------------
* global.css
* --------------------------------
* Contains:
*   - CSS Variables
*   - Global Reset
*   - Body styles
*   - Basic typography and spacing that apply to the whole site
*/

@charset "utf-8";

:root {
    --primary-color: #0056b3;
    --secondary-color: #ffcc00;
    --light-gray: #f8f9fa;
    --dark-gray: #333;
    --border-color: #ddd;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Arial", sans-serif;
    background-color: var(--light-gray);
    color: var(--dark-gray);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
.updates article {
    line-height: 1.6;
}

p {
    margin-bottom: 1rem;
}

h1,
h2,
h3 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

li {
    margin-bottom: 0.5rem;
}

.centered-heading {
    display: block;
    margin: 0 auto;
    width: fit-content;
    text-align: center;
}