@charset "utf-8";

/* CSS Variables */
:root {
    --primary-color: #0056b3;
    --secondary-color: #ffcc00; /* Yellow */
    --light-gray: #f8f9fa;
    --dark-gray: #333;
    --border-color: #ddd;
}

/* CSS file imports */
@import "banner.css";
@import "blog.css";
@import "components.css";
@import "countdown.css";
@import "footer.css";
@import "form.css";
@import "gallery.css";
@import "hamburger.css";
@import "header.css";
@import "layout.css";
@import "mobile.css";
@import "navigation.css";
@import "search.css";
@import "typography.css";
@import "normalize.css";